<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HI</title>
    <head>
       <h>WELCOME HOME</h><br>
</head>
<body>
<form action="/submit" method="POST">
 <br><label>age</label>
 <input type="text" id="Name" name="age"><br>
 <br><label>gender</label>
 <input type="text" id="Name" name="gender"><br>
 <br><label>chest_pain</label>
 <input type="text" id="Name" name="chest_pain"><br>
    <input type="text" id="Name" name="rest_bps"><br>
    <br><label>rest_bps</label>
    <input type="text" id="Name" name="cholestrol"><br>
    <br><label>cholestrol</label>
    <input type="text" id="Name" name="fasting_blood_sugar"><br>
    <br><label>fasting_blood_sugar</label>
    <input type="text" id="Name" name="thalach"><br>
    <br><label>thalach</label>
    <input type="text" id="Name" name="exer_angina"><br>
    <br><label>exer_angina</label>
    <input type="text" id="Name" name="old_peak"><br>
    <br><label>old_peak</label>
    <input type="text" id="Name" name="ca"><br>
    <br><label>ca</label>
    <input type="text" id="Name" name="slope"><br>
    <br><label>slope</label>
    <input type="text" id="Name" name="slope"><br>
    <br><label>thalassemia</label><br>
    <input type="text" id="Name" name="thalassemia"><br>
    <input type="text" id="Name" name="hi"><br>
 <br><button type="submit">sumbit</button><br>
</form>
</body>
</html>

